.pageWrapper {
  padding: 1ch;
  max-width: 65ch;
  margin: 0 auto;
  font-size: 18px;
}

.textInput {
  width: 100%;
  height: 5em;
  padding: 2ch;
}

.hashOutput {
  word-break: break-all;
  padding: 2ch;
  background-color: #00000011;
}

.copyButton {
  display: block;
  width: 100%;
}

.noHashOutput {
  text-align: center;
  color: #00000066;
}

.fileDrop {
  background: #00000022;
  height: 20ch;
  display: flex;
  justify-content: center;
  align-items: center;
}
